{% extends 'main/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block main_content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    
    {% block wtf_content %}
    <div style="display: flex; align-items: center;">
    <div class="col-md-6" style="margin-bottom: 20px;">
      {{ wtf.quick_form(form, action="", id="login_form") }}
      <div style="padding: 10px"><a href="/auth/register">注册账号</a></div>
      <div style="padding: 10px"><a href="{{ url_for('auth.change_password') }}">忘记密码</a></div>
    </div>
    <div id="login_message" class="alert alert-warning" style="display: none;width: 220px;">
      <button type="button" class="close" onclick="$('#login_message').fadeOut();">&times;</button>
      <p id="login_message_p" ></p>
    </div>
    </div>
    {% endblock %}
    
{% endblock %}
{% block footer %}
<script>
$(window).on('load', function(){
    $(login_form).attr("onsubmit", "return PostData()");
});  
</script>
{% endblock %}
