<!DOCTYPE html>
<html lang="zh">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Nanrou, dananrou.com">
  {% block Custom_header %}
  <meta name="description" content="一些事，没有情">
  
  <title>腩肉的小站</title>
  {% endblock %}
  <link rel="favicon.ico" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">

  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- NProgress -->
  <link href="{{ url_for('static', filename = 'css/nprogress.css') }}" rel="stylesheet">
  <!-- waves -->
{#  <link href="{{ url_for('static', filename = 'css/waves.css') }}" rel="stylesheet"> #}

  <link href="{{ url_for('static', filename = 'css/mloading.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- waves -->
  <script src="{{ url_for('static', filename = 'js/waves.js') }}"></script>
  <!-- mloading -->
  <script src="{{ url_for('static', filename = 'js/mloading.js') }}"></script>
  <!--nprogress -->
  <script src="{{ url_for('static', filename = 'js/nprogress.js') }}"></script>

  <!-- Custom js for this theme -->
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  {% block custom_script %}
  {% endblock %}

</head>

<body>

<div id="wrap">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-fixed-top navbar-toggleable-md navbar-light" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-toggler-right collapsed" data-toggle="collapse"
                data-target="#navbarResponsive" style="color: #777;">
          导航 <i class="fa fa-bars"></i>
        </button>

        <a class="navbar-brand" href="{{ url_for('main.home') }}">Nanrou <i class="fa fa-home"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('main.about_me') }}">About Me</a>
          </li>
          <li class="nav-item">
            <a id="contanct_composition " class="nav-link page-scroll" href="javascript:void(0)" 
            data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="hover"
            data-content='<span><i class="fa fa-google" aria-hidden="true"></i>
            dnanrou@gmail.com
            </span>'>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- header -->
  <header class="intro-header" style="background-image: url({{ url_for('static', filename = 'img/home-bg.jpg') }})">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Life is short</h1>
            <span class="subheading">Lulu & Amao 的铲屎官</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <hr />
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
        {% block main_content %}
        {% endblock %}
        </div>
        <div class="col-md-3">

          <ul class="list-group">
            <li class="list-group-item">
              <strong>主要分类</strong>
            </li>
            {% for category in cc_pr %}
            <li class="list-group-item">
              <span class="badge">{{ category.posts_count }}</span>
              <a href="/search?cate={{ category.cate }}" style="color: #333">{{ category.category }}</a>
            </li>
            {% endfor %}
            <li class="list-group-item">
              <strong>其他</strong>
            </li>
            <li class="list-group-item">
              <i class="fa fa-github" aria-hidden="true"></i>&nbsp;
              <a href="https://github.com/Nanrou" target="_blank">GitHub</a>
            </li>
            <li class="list-group-item">
              <image id="lp_img" class="lp" src="{{ url_for('static', filename = 'css/lp.png') }}"></image>&nbsp;
              <a href="javascript:void(0)" data-toggle="popover" data-placement="auto right" data-html="true" data-trigger="hover" data-delay="0"
            data-content='<image src="{{ url_for('static', filename = 'css/lp.jpg') }}"></image>'">露露啊毛和你说</a>
            </li>
            <li class="list-group-item">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
              <a href="http://www.superxiaoshuo.com" target="_blank">超级小说</a>
            </li>
            <li class="list-group-item">
              <i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;
              <a href="javascript:void(0)" data-toggle="popover" data-placement="auto right" data-html="true" data-trigger="hover" data-delay="0"
            data-content='<image src="{{ url_for('static', filename = 'css/wx_mp.jpg') }}"></image>'">毛小露</a>
            </li>
          </ul>
          <br />
          
          <ul class="list-group">
            <li class="list-group-item">
            <button id="btn_prev" class="btn badge" style="background: inherit;float: left;" onclick="getCalendar('prev')">
                <i class="fa fa-chevron-left fa-lg" style="color: #000"></i>
            </button>
            <button id="btn_next" class="btn badge" style="background: inherit;" onclick="getCalendar('next')">
                <i class="fa fa-chevron-right fa-lg" style="color: #000"></i>
            </button>
          <div id="calendar">      
          {{ product_calendar | safe }}
          </div>
            </li>
          <div id="calendar_message" class="alert alert-warning">
                <button type="button" class="close" onclick="$('#calendar_message').fadeOut();">&times;</button>
                <p id="login_message_p">好像出错了，等等再试吧 >_<</p>
            </div>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </section>
  <hr />

<a href="javascript:void(0);" id="to_top" class="is-unvisible">
  <i class="fa fa-arrow-up float-icon waves-circle waves-float"></i>
</a>
<a href="{% if current_user.is_authenticated %}/auth/logout{% else %}/auth/login?next={{ request.path }}{% endif %}" id="float" class="float" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{% if current_user.is_authenticated %}<h4>登出</h4>{% else %}<h4>登陆</h4>{% endif %}">
  {# TODO 登陆后的弹出菜单：修改个人资料，登出 #}
    <img class="waves-circle waves-float" src="{% if current_user.is_authenticated %}{{ url_for('static', filename = 'img/amao.jpg') }}{% else %}{{ url_for('static', filename = 'img/lulu.jpg') }}{% endif %}">
</a>
{% block footer %}
{% endblock %}
</div>
<script>
$(function () { $("[data-toggle='tooltip']").tooltip(); });
$(function () { $("[data-toggle='popover']").popover({delay: {show: 0, hide: 800}}); });
</script>
</body>
</html>
