<!DOCTYPE html>
<html lang="zh">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Nanrou, dananrou.com">
  {% block Custom_header %}
  <meta name="description" content="一些事，没有情">
  
  <title>腩肉的小站</title>
  {% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
  
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- NProgress -->
  <link href="{{ url_for('static', filename = 'css/nprogress.css') }}" rel="stylesheet">
  <!-- waves -->
{#  <link href="{{ url_for('static', filename = 'css/waves.css') }}" rel="stylesheet"> #}

  <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- waves -->
  <script src="{{ url_for('static', filename = 'js/waves.js') }}"></script>

  <script src="{{ url_for('static', filename = 'js/nprogress.js') }}"></script>

  <!-- Custom js for this theme -->
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  {% block custom_script %}
  {% endblock %}

</head>

<body>

<div id="wrap">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-fixed-top navbar-toggleable-md navbar-light" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-toggler-right collapsed" data-toggle="collapse"
                data-target="#navbarResponsive" style="color: #777;">
          导航 <i class="fa fa-bars"></i>
        </button>

        <a class="navbar-brand" href="{{ url_for('main.home') }}">Nanrou <i class="fa fa-home"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('main.post') }}">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- header -->
  <header class="intro-header" style="background-image: url({{ url_for('static', filename = 'img/home-bg.jpg') }})">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Life is short</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <hr />
  <section>
    <div class="container">
      <div class="row">
        {% block main_content %}
        {% endblock %}
        <div class="col-md-3">

          <ul class="list-group">
            <li class="list-group-item">
              <strong>Main Categories</strong>
            </li>
            {% for category in cc_pr %}
            <li class="list-group-item">
              <span class="badge">{{ category.posts_count }}</span>
              {{ category.category }}
            </li>
            {% endfor %}
            <li class="list-group-item">
              <strong>Other Categories</strong>
            </li>
            <li class="list-group-item">
              <span class="badge">104</span>
              Technology
            </li>
            <li class="list-group-item">
              <span class="badge">34</span>
              Blogging
            </li>
            <li class="list-group-item">
              <span class="badge">10</span>
              Information
            </li>
            <li class="list-group-item">
              <span class="badge">50</span>
              Security
            </li>
          </ul>
          <br />
          {{ product_calendar | safe }}
          <ul class="list-group">
            <li class="list-group-item">Advrtisements
            </li>
            <li class="list-group-item">
              <a href="#">
                <img src="#" class="img-responsive" />
              </a>
              <br />
              <a href="#">
                <img src="#" class="img-responsive" />
              </a>
            </li>
          </ul>

          <br />
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Subscribe For Updates</h3>
              </div>
              <div class="panel-body">
                <input type="text" class="form-control" placeholder="Your Email" />
                <hr />
                <a href="#" class="btn btn-info btn-sm btn-block">subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />

<a href="javascript:void(0);" id="to_top" class="is-unvisible">
<i class="fa fa-arrow-up float-icon waves-circle waves-float"></i>
</a>
{% block footer %}
{% endblock %}
</div>
<script>
$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
</html>
