{% extends 'main/base.html' %}
{% import "main/components/_macros.html" as macros %}

{% block main_content %}
    {% for post in posts %}
    <div class="blog-main">
      <div class="heading-blog">
        <a href="{{ url_for('main.post', id_=post.id) }}">
          {{ post.title }}
        </a>
      </div>
      <div style="padding:0 5px;">
        <a href="{{ url_for('main.post', id_=post.id) }}" class="image-featured">
          <img src="{{ post.img_path }}" class="img-responsive img-rounded"/>
        </a>
      </div>
      <div class="blog-info">
        <span class="label label-primary">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
        {% if post.category %}
        <span class="label label-success">{{ post.category.category }}</span>
        {% endif %}
        <span class="label label-danger">By Nanrou</span>
        <span class="label label-info">
         <i class="fa fa-eye"></i>&ensp;{{ post.reviewed }}
        </span>
      </div>
      <div class="blog-txt">
        <p>{{ post.body_html | my_html_truncate(150) }}</p>
      </div>
      <div class="blog-more">
        <a href="{{ url_for('main.post', id_=post.id) }}">Read More</a>
      </div>
    </div>
    {% endfor %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, 'main.home') }}
    </div>
{% endblock %}
