{% extends 'main/base.html' %}

{% block Custom_header %}
<meta name="description" content="{{ post.title }}">

<title>腩肉的小站 {{ post.title }}</title>
{% endblock %}


{% block custom_script %}
  {{ moment.include_moment() }}
  {{ moment.lang("zh-cn") }}
{% endblock %}

{% block main_content %}
  <div class="col-md-9">
    <div class="blog-main">
      <div class="heading-blog">
        {{ post.title }}
      </div>
      <a class="image-featured" href="javascript:void(0);">
        <img src="{{ post.img_path }}" class="img-responsive img-rounded"/>
      </a>
      <div class="blog-info">
        <span class="label label-primary">{{ post.timestamp }}</span>
        {% if post.category %}
          <span class="label label-success">{{ post.category.category }}</span>
        {% endif %}
        <span class="label label-danger">By Jhon</span>
        <span class="label label-info">
          <i class="fa fa-eye"></i>&ensp;{{ post.reviewed }}
        </span>
      </div>
      <div class="blog-txt">
        {{ post.body_html | safe }}
      </div>
    </div>
    <p>此文章发布于&ensp;{{ moment(post.timestamp).fromNow() }}，可能由于时间关系已不再适用，请结合实际情况参考。</p>
    <!--BLOG MAIN SECTION END-->

    <h3><strong>Recent Comments :</strong></h3>
    <hr/>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="assets/img/user2.png"/>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Vestibulum et eros consectetur</h4>
          <p>
            Donec sit amet ligula enim. Duis vel condimentum massa.
            Maecenas eget congue dui. Vestibulum et eros consectetur,
            interdum nibh et, volutpat dolor.
          </p>
        </div>
      </li>
      <!-- COMMENT SECTION - ONE END-->
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="assets/img/user.gif"/>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
          <p>
            Donec sit amet ligula enim. Duis vel condimentum massa.
            Maecenas eget congue dui. Vestibulum et eros consectetur,
            interdum nibh et, volutpat dolor.
          </p>
          <!-- Nested media object -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-circle" src="assets/img/user2.png"/>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nulla gravida vitae neque </h4>
              Donec sit amet ligula enim. Duis vel condimentum massa.
              Maecenas eget congue dui. Vestibulum et eros consectetur,
              interdum nibh et, volutpat dolor.
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object img-circle" src="assets/img/user.gif"/>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Donec sit amet ligula enim</h4>
                  Donec sit amet ligula enim. Duis vel condimentum massa.
                  Maecenas eget congue dui. Vestibulum et eros consectetur,
                  interdum nibh et, volutpat dolor.
                </div>
              </div>
            </div>
          </div>
          <!-- Nested media object -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-circle" src="assets/img/user2.png"/>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Vestibulum et eros consectetur</h4>
              Donec sit amet ligula enim. Duis vel condimentum massa.
              Maecenas eget congue dui. Vestibulum et eros consectetur,
              interdum nibh et, volutpat dolor.
            </div>
          </div>
        </div>
      </li>
      <!-- COMMENT SECTION - TWO END-->
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="assets/img/user.gif"/>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Vestibulum et eros consectetur</h4>
          <p>
            Donec sit amet ligula enim. Duis vel condimentum massa.
            Maecenas eget congue dui. Vestibulum et eros consectetur,
            interdum nibh et, volutpat dolor.
          </p>
        </div>
      </li>
      <!-- COMMENT SECTION - THREE END-->
    </ul>
    <!--COMMENTS SECTION END-->

    <nav class="container post-pagination">
      <div class="post-pagination-prev">
        <a class="post-pagination-link" href="{% if prev_post %}{{ url_for('main.post', id_=prev_post.id) }}{% else %}{{ url_for('main.home') }}{% endif %}">
          <div class="tips">
            <i class="fa fa-angle-left"></i>
            Prev
          </div>
          <h4 class="title">
            {% if prev_post %}{{ prev_post.title }}{% else %}没有了{% endif %}
          </h4>
        </a>
      </div>
      <div class="post-pagination-next">
        <a class="post-pagination-link" href="{% if next_post %}{{ url_for('main.post', id_=next_post.id) }}{% else %}{{ url_for('main.home') }}{% endif %}">
          <div class="tips">
            Next
            <i class="fa fa-angle-right"></i>
          </div>
          <h4 class="title">
            {% if next_post %}{{ next_post.title }}{% else %}没有了{% endif %}
          </h4>
        </a>
      </div>
    </nav>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
