{% extends 'main/base.html' %}

{% block main_content %}
<h2>一个在路上的铲屎官</h2>
<p><strong>求职中啊QAQ</strong></p>
<hr />
<p>就是一个python的初心者，目前技能点点在web方向比较多一些</p>
<h3>技能</h3>
<ul>
<li>熟悉python，了解常用库及框架</li>
<li>了解主流数据库，SQL/NoSQL</li>
<li>能够使用前端三兄弟</li>
<li>可以linux/ox环境中活下来</li>
</ul>
<h3>内功</h3>
<ul>
<li>自学能力强，而且是兴趣驱动</li>
<li>补过CS基础，了解计算机构成</li>
<li>具备网络基础知识，了解常见网络通信协议</li>
<li>较强的沟通能力</li>
</ul>
<p>编程你快乐吗？我很快乐。</p>
<image src="{{ url_for('static', filename = 'img/github.png') }}"></image>

{% endblock %}
